<launch>
  <!-- Launch ROS simulation node -->
  <node name="ros_run_simulation" pkg="g1_mujoco_sim" type="ros_run_simulation.py" output="screen" />

  <!-- Launch MPC to WBID node after a 2 second delay -->
  <node name="mpc_to_wbid" pkg="g1_mpc" type="mpc_to_wbid_node" output="screen"/>
</launch>
